body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0d1117, #19273b);
    color: #c9d1d9;
}

header {
    text-align: center;
    padding: 60px 20px;
}

header h1 {
    color: #58a6ff;
    font-size: 2.8rem;
    margin-bottom: 10px;
}

header p {
    color: #8b949e;
    font-size: 1.2rem;
}

.container {
    width: 92%;
    max-width: 1100px;
    margin: auto;
    padding-bottom: 60px;
}

h2 {
    color: #58a6ff;
    margin-top: 40px;
    font-size: 1.8rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: #1b222b;
    padding: 20px;
    border: 2px groove #78c4d0;
    border-radius: 10px;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-7px);
}

.card h3 {
    margin-top: 0;
    color: #58a6ff;
}

.card p {
    color: #8b949e;
    font-size: 0.95rem;
}

.card a {
    color: rgb(79, 164, 170);
    text-decoration: none;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    color: #8b949e;
    font-size: 0.9rem;
}

@media (max-width: 600px) {
    header h1 {
        font-size: 2rem;
    }
}